.osInfoApp{
  transition: .75s;
}
.os-in-view{
  height: 50vh;
  opacity: 1;
}
.os-hidden{
  opacity: 0;
  height: 1vh;
}
#navButtonsContainer{
  height: 50px;
  border-style: inset;
  position: relative;
  top: 65px;
  display: flex;
  align-items: center;
}
#navButtonsContainer button{
  transition: .3s;
}
#toggleOsInfoAppButton{
  height: 50px;
  border-style: inset;
}