.fsInfoApp{
  transition: 2s;
}
.osInfoApp{
  height: 50vh;
  position: relative;
  transition: 2s;
}
.os-in-view{
  opacity: 1;
}
.os-hidden{
  opacity: 0;
  animation: os-hidden 2s 1;
}
#navButtonsContainer{
  height: 50px;
  border-style: inset;
  position: relative;
  top: 65px;
  display: flex;
  align-items: center;
}
#navButtonsContainer button{
  transition: .3s;
}
#toggleOsInfoAppButton{
  height: 50px;
  border-style: inset;
}

@keyframes os-hidden{
  0%{top: 0}
  100%{top: -50vh;}
}